* {
    box-sizing: border-box;
   
}

.content {
    margin: auto ;
    max-width: 500px;
}

body {
    font-family: 'Manrope', sans-serif;
    background-image: linear-gradient(105deg, rgba(216, 166, 223, 0.409) 20%, rgba(106, 210, 242, 0.798) 96%);
    
    
    
    
}
 .nav-list {
    display: flex;
    position: relative;
    top: 22px;
    left: 402px;
    flex-wrap: nowrap;
    height: 84px;
    width: 926px;
    justify-content: space-around;
    font-size: 15px;
    border: 4px;
    border-radius: 17px;
    background-color: rgb(104 121 136 / 21%);


    
 }

 .nav-items {
    display: inline-flex;
    justify-content: flex-end;
	align-items: flex-start;
	list-style: none;
    flex-direction: row;
	padding: 0 14px;
	line-height: 50px;
    margin: 2px;
	text-decoration: none;

 }

 .photo {
    position: relative;
    height: 250px;
    width: 250px;
    top: -66px;
    left: 111px;
}

 .name-block {
    padding: 11px;
    border: 4px;
    border-radius: 17px;
    background-color: rgb(104 121 136 / 21%);
    position: relative;
    width: 327px;
    height: 168px;
    font-size: 15px;
    text-align: center;
    position: relative;
    height: 168px;
    width: 365px;
    top: -46px;
    left: 45px;
 }
 
 .phone-number { 
    display: inline-flex;
    position: relative;
    left: 45px;
    border: 9px;
    border-radius: 17px;
    background-color: rgb(104 121 136 / 21%);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: left;
    height: 80px;
    width: 365px;
    top: -36px;
    
}

 .links-phone-number {
    list-style-type: none;
    text-decoration: none;
 }

 .contacts-name-block {
    position: relative;
    top: -30px;
    left: -135px;
    width: 102px;
    

 }

.contacts-list {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    left: 471px;
    position: relative;
    top: -18px;
    margin: auto;
    padding: 0px;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 417px;
    background-color: blue;
}


.contacts-links {
    display: inline-flex;
    position: relative;
    border: 4px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(104 121 136 / 21%);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 82px;
    width: 33px;
    flex: 0 0 90px;
    padding: 0px;
    margin: auto;
}

 
 