

body {
    orientation:landscape; 
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(105deg, rgba(230, 217, 232 , 0.5) 20%, rgba(174, 234, 236 ,0.9) 96%);
    
}

.photo {
    text-align: center;
}

.main-titles {
    text-align: center;
    font-variant: small-caps;

}

.main-contacts {
    position: absolute;
    top: 40px;
    left: 15px;
    right: 75%;
    
}


.links {
    text-decoration: none;
}

.header-contacts {
    text-align: center;
}
.about-me-text {
text-align: justify;
}
.basic-information {
    position:absolute;
    top: 100px;
    left: 600px;
    right: 300px;
}

text-decoration: none;

